<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rocket Singh TSP Solver</title>
</head>
<body>
    <div class="container">
        <h1>Rocket Singh: TSP Solver</h1>
        <h2>Minimum Cost: {{ min_cost }}</h2>
        <h2>Path Taken:</h2>
        <div class="path-list">
            {% for city1, city2 in path %}
                <p>{{ city1 }} - {{ city2 }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
